{% extends "layout.html" %}
{% block title %}Dynamic2MQTT{% endblock %}
{% block content %}
<form method="POST" action="/forms/{{ form_name }}">
    {{ form.csrf_token }}

    {% for field in form if not field.id == 'csrf_token' %}
    <p>
        {% if field.type == "BooleanField" %}
            {{ field }} {{ field.label }}
        {% else %}
            {{ field.label }}
            {{ field }}
        {% endif %}

        {% if field.errors %}
        <ul class="errors">
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </p>
    {% endfor %}
    <button>Submit</button>
</form>
{% endblock %}